flows.json
[{"id":"a2688b73.143f18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8bac9611.eaf138","type":"function","z":"a2688b73.143f18","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\n\n//following are required to receive a token\nvar apikey=\"SrzeJ2tbYmqIJqzdMcUuIWYC11p56zm_z8r_G3oyDZd7\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["6b42e761.e25c18"]]},{"id":"302741d0.1bfbee","type":"http request","z":"a2688b73.143f18","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/739f937a-6b8d-491e-bef6-d4ac90edcca9/deployments/a9ffbe0e-8d24-4ca4-96fe-d68ec92096f7/online","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":160,"wires":[["74e6895b.9252e8","35616f68.2fb63"]]},{"id":"e94238a5.aa2328","type":"debug","z":"a2688b73.143f18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":260,"wires":[]},{"id":"74e6895b.9252e8","type":"function","z":"a2688b73.143f18","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["e94238a5.aa2328","9ab3a6be.4d2b58"]]},{"id":"af02cc65.9d63d","type":"function","z":"a2688b73.143f18","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"739f937a-6b8d-491e-bef6-d4ac90edcca9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"country\",\"status\",\"alcohol\",\"percentage_expenditure\",\"bmi\",\"polio\",\"total_expenditure\",\"diphtheria\",\"gdp\",\"income_composition_of_resources\",\"schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":80,"wires":[["302741d0.1bfbee"]]},{"id":"6b42e761.e25c18","type":"http request","z":"a2688b73.143f18","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":140,"wires":[["af02cc65.9d63d"]]},{"id":"5c2dada3.8685d4","type":"ui_form","z":"a2688b73.143f18","name":"","label":"","group":"7c621bdc.315504","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Status","value":"b","type":"text","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"Percentage_expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Bmi","value":"e","type":"number","required":true,"rows":null},{"label":"Polio","value":"f","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"h","type":"number","required":true,"rows":null},{"label":"Gdp","value":"i","type":"number","required":true,"rows":null},{"label":"Income_composition_of_resources","value":"j","type":"number","required":true,"rows":null},{"label":"Schooling","value":"k","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":90,"y":160,"wires":[["8bac9611.eaf138"]]},{"id":"9ab3a6be.4d2b58","type":"ui_text","z":"a2688b73.143f18","group":"7c621bdc.315504","order":1,"width":"0","height":"0","name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":360,"wires":[]},{"id":"35616f68.2fb63","type":"debug","z":"a2688b73.143f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":80,"wires":[]},{"id":"7c621bdc.315504","type":"ui_group","z":"","name":"Default","tab":"32fe2f8c.280af","order":1,"disp":true,"width":"6","collapse":false},{"id":"32fe2f8c.280af","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]